@import "../../../scss/theme/variables";
@import "../../../scss/mixins/flex";

:host {
  height: 100%;
  max-height: 150px;
  background-color: var(--white);
  margin-top: 4rem;
  @include flex-custom(column, center, center, 16px);
}

.footer {
  &__icons {
    @include flex-custom(row, center, center, 18px);

    &-item:hover {
      cursor: pointer;
    }
  }
  &__links {
    list-style: none;
    @include flex-custom(row, center, center, 18px);

    &-item {
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      color: var(--primary);
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: var(--primary-dark-1);
      }
    }
  }

  &__text {
    color: var(--back-button-text);
  }
}
