<div class="footer__icons">
  <img
    class="footer__icons-item"
    src="assets/svg/facebook-icon.svg"
    alt=""
    width="24"
    height="24"
  />
  <img
    class="footer__icons-item"
    src="assets/svg/insta-icon.svg"
    alt=""
    width="24"
    height="24"
  />
  <img
    class="footer__icons-item"
    src="assets/svg/whatsapp-icon.svg"
    alt=""
    width="24"
    height="24"
  />
  <img
    class="footer__icons-item"
    src="assets/svg/mail-icon.svg"
    alt=""
    width="24"
    height="24"
  />
</div>
<ul class="footer__links">
  <li><a class="footer__links-item" href="">Principal</a></li>
  <li><a class="footer__links-item" href="">Sobre</a></li>
  <li><a class="footer__links-item" href="">Contato</a></li>
  <li><a class="footer__links-item" href="">Sobre Nós</a></li>
</ul>
<span class="footer__text">{{ FOOTER_TEXT }}</span>
