<h1 class="header_title" routerLink="/">capputeeno</h1>
<div class="bar_search_container">
  <div class="input_search_container">
    <input
      class="input_search_container__item"
      type="text"
      placeholder="Procurando por algo especifico?"
      [formControl]="inputSearch"
      (keydown.enter)="search()"
    />
    @if (hasValueSearched) {
      <img
        class="input_search_container__icon"
        src="assets/svg/close-x.svg"
        alt=""
        (click)="clearSearch()"
      />
    } @else {
      <img
        class="input_search_container__icon"
        src="assets/svg/icon-search.svg"
        alt=""
        (click)="search()"
      />
    }
  </div>
  <div class="bag_icon_container">
    <img src="assets/svg/icon-bag.svg" alt="" />
    <p>{{ itensCount() }}</p>
  </div>
</div>
