@if (product()) {
  <button class="back-button" (click)="onHandleBack()">
    <img src="assets/svg/back-button.svg" alt="" />
    Voltar
  </button>
  <section class="product-info">
    <img class="product-info__image" [src]="product()?.image_url" alt="" />
    <div class="product-info__details">
      <div>
        <p>{{ getCategoryName(product()!.category) }}</p>
        <h2 class="product-info__details-title">{{ product()?.name }}</h2>
        <p class="product-info__details-price">
          {{
            product()!.price_in_cents / 100
              | currency: "BRL"
              | replace: "." : ","
              | replace: "R$" : "R$ "
          }}
        </p>
        <p class="product-info__details-freight">
          * Frete de R$40,00 para todo o Brasil. Grátis para compras acima de
          R$900,00.
        </p>
        <p class="product-info__details-description">Descriçao:</p>
        <p>{{ product()?.description }}</p>
      </div>
      <button
        class="product-info__details-button"
        (click)="onAddOnCart(product()!)"
      >
        <img src="assets/svg/icon-bag.svg" alt="" />
        Adicionar ao carrinho
      </button>
    </div>
  </section>
} @else {
  <p>Desculpe nao encontramos o seu produto!</p>
}
