<!--TODO: Melhorar responsividade-->
@if (product()) {
  <app-back-button (click)="onHandleNavigateToHome()"></app-back-button>
  <section class="product-info">
    <img class="product-info__image" [src]="product()?.image_url" alt="" />
    <div class="product-info__details">
      <div>
        <p class="product-info__details-category">
          {{ getCategoryName(product()!.category) }}
        </p>
        <h2 class="product-info__details-title">{{ product()?.name }}</h2>
        <p class="product-info__details-price">
          {{ product()!.price_in_cents | real }}
        </p>
        <p class="product-info__details-freight">
          * Frete de {{ freightValue | real }} para todo o Brasil. Grátis para
          compras acima de {{ freeFreightValue | real }}.
        </p>
        <p class="product-info__details-description">Descriçao:</p>
        <p class="product-info__details-text">
          {{ product()?.description }}
        </p>
      </div>
      <button
        class="product-info__details-button"
        (click)="onAddOnCart(product()!)"
      >
        <img src="assets/svg/icon-bag-white.svg" alt="" />
        Adicionar ao carrinho
      </button>
    </div>
  </section>
} @else {
  <p>Desculpe nao encontramos o seu produto!</p>
}
