@import "../../../scss/index";
@import "../../../scss/mixins/flex";
@import "../../../scss/theme/variables";

:host {
  display: block;
  padding: 0 194px;
}

.products_card {
  margin-top: 2rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    grid-column-gap: 32px;
    grid-row-gap: 24px;
    justify-content: center;
    align-items: center;
  }

  &__not_found {
    margin-top: 4rem;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    @include flex-custom(column, center, center, 8px);
  }
}

@media (max-width: $breakpoint-md) {
  :host {
    padding: 0 128px;
  }
}
@media (max-width: $breakpoint-sm) {
  :host {
    padding: 0 64px;
  }
}
