@if (cartItem()) {
  <img
    class="product-cart__image"
    [src]="cartItem().product.image_url"
    alt=""
  />
  <div class="product-cart__info">
    <div class="product-cart__info-header">
      <h2>
        {{ cartItem().product.name }}
      </h2>
      <button
        class="product-cart__info-header-button"
        (click)="onHandleRemoveItem(cartItem().product.id)"
      >
        <img src="assets/svg/garbage-red.svg" alt="exclude-button" />
      </button>
    </div>
    <span class="product-cart__info-description">{{
      cartItem().product.description
    }}</span>
    <div class="product-cart__info-footer">
      <label
        >Qtd:

        <select
          class="product-cart__info-footer-select"
          [formControl]="quantityFormControl"
        >
          @for (option of options(); track $index) {
            <option [ngValue]="option" [selected]="option === cartItem().count">
              {{ option }}
            </option>
          }
        </select>
      </label>

      <span class="product-cart__info-footer-price">{{
        cartItem().product.price_in_cents | real
      }}</span>
    </div>
  </div>
} @else {
  <span>Desculpe item não encontrado...</span>
}
