@import "../../../scss/index";
@import "../../../scss/mixins/flex";

:host {
  @include flex-default;
  background-color: var(--white);
  border-radius: 8px;
  height: 211px;
}

.product-cart__image {
  width: 256px;
  max-height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.product-cart__info {
  height: 100%;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &-header,
  &-footer {
    @include flex-custom(row, space-between, center);
  }

  &-header {
    &-button {
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 4px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-footer {
    &-select {
      margin-left: 4px;
      width: 65px;
      height: 40px;
      border-color: var(--border-alt);
      border-radius: 8px;
      padding: 8px;
      background-color: var(--primary-light-1);
    }
    &-price {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: var(--black);
    }
  }
  &-description {
    max-height: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
