@import "../../../scss/mixins/flex";
@import "../../../scss/index";

:host {
  display: flex;
  margin-top: 24px;
  width: 100%;
  height: fit-content;
  padding: 0 64px;
  align-items: flex-start;
  justify-content: space-between;
}

.list_itens {
  list-style: none;
  @include flex-custom(row, flex-start, center, 40px, wrap);

  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    cursor: pointer;
  }

  .item-list-selected {
    font-weight: 600;
    border-bottom: 4px solid var(--selected-color);
  }
}

.right_menu_filter {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.organize_for {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;

  p {
    color: var(--primary);
  }
}

.pagination_filter {
  margin-top: 32px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;

  p {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    color: var(--primary);
    background-color: var(--primary-light-2);
  }
}
