<ul class="list_itens">
  @for (item of typesItens; track $index) {
  <li
    [ngClass]="{ 'item-list-selected': item.selected }"
    (click)="onToogleItem(item)"
  >
    {{ item.name }}
  </li>
  }
</ul>
<section class="right_menu_filter">
  <div>
    <div class="organize_for">
      <p>Selecionar por</p>
      <img src="assets/svg/arrow-down.svg" alt="" />
    </div>
    <div class="pagination_filter">
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p><</p>
      <p>></p>
    </div>
  </div>
</section>
