@import "../../../scss/mixins/flex";
@import "../../../scss/theme/variables";
@import "../../../scss/index";

:host {
  margin-top: 2rem;
  width: 100%;
  height: fit-content;

  @include flex-custom(row, space-between, flex-start);
}

.list_itens {
  list-style: none;
  @include flex-custom(row, flex-start, center, 40px, wrap);

  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    cursor: pointer;

    &:hover {
      color: var(--primary-dark-1);
    }
  }

  .item-list-selected {
    font-weight: 600;
    border-bottom: 4px solid var(--selected-color);
  }
}

.right_menu_filter {
  position: relative;
  @include flex-custom(column, flex-start, flex-end, 8px, wrap);
}

.organize_for_button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: fit-content;
  cursor: pointer;
  @include flex-custom(row, center, center, 4px, nowrap);

  &-text {
    color: var(--primary);

    &:hover {
      color: var(--primary-dark-1);
    }
  }
}

.priority_list {
  list-style: none;
  position: absolute;
  padding: 12px 16px;
  background-color: var(--primary-light-1);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  top: 25%;
  @include flex-custom(column, flex-start, flex-start, 8px, nowrap);

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pagination_filter {
  list-style: none;
  margin-top: 32px;
  @include flex-custom(row, center, center, 4px, nowrap);

  li {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
    font-size: 18px;
    background-color: var(--primary-light-2);
    cursor: pointer;

    &:hover {
      color: var(--primary-dark-1);
    }
  }

  .page-selected {
    border-color: var(--selected-color);
    color: var(--selected-color);
    background-color: var(--primary-light-1);
  }
}

@media (max-width: $breakpoint-md) {
  :host {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .pagination_filter {
    display: none;
  }

  .list_itens {
    gap: 16px;
    li {
      font-size: 14px;
    }
  }
}
