:root {
  --primary: #737380;
  --primary-dark-1: #41414d;
  --primary-light-1: #f3f5f6;
  --primary-light-2: #e9e9f0;
  --primary-light-3: #dce2e5;
  --secondary: #f0f0f5;
  --black: #09090a;
  --white: #fff;
  --logo-color: #5d5d6d;
  --selected-color: #ffa585;
  --icon-bag-color: #de3838;
  --back-button-text: #617480;
  --button-variant-1: #51b853;
  --button-variant-2: #3f9e5f;
  --button-variant-3: #2f7e4f;
  --button-variant-4: #1f5f3f;
  --button-variant-5: #115d8c;
  --button-variant-6: #0a3f5e;
  --button-variant-7: #0a2f4e;
  --border-alt: #a8a8b3;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
