:root {
  --primary: #737380;
  --primary-light-1: #f3f5f6;
  --primary-light-2: #e9e9f0;
  --secondary: #f0f0f5;
  --black: #09090a;
  --white: #fff;
  --selected-color: #ffa585;
  --icon-bag-color: #de3838;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
