@import "scss/index";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Saira";
}

html,
body {
  max-width: 100vw;
  background: var(--secondary);
  color: var(--primary);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p,
span {
  color: var(--primary-dark-1);
}

h1 {
  font-family: "Saira Stencil One";
}

//Overriding toast-position
.toast-top-center {
  margin-top: 8px;
}
