@import "scss/index";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Saira";
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  background: var(--secondary);
  color: var(--primary);
}

p,
span {
  color: var(--primary-dark-1);
}

h1 {
  font-family: "Saira Stencil One";
}
