@if (product) {
  <div class="card_product" (click)="navigate(product)">
    <img
      class="card_product__image"
      [src]="product.image_url"
      alt="product_image"
      width="256"
      height="300"
    />
    <div class="card_product__info">
      <span class="card_product__info__title">{{ product.name }}</span>
      <!--  TODO: ACERTAR A FORMATACAO DA MOEDA -->
      <span class="card_product__info__price">{{
        product.price_in_cents / 100
          | currency: "BRL"
          | replace: "." : ","
          | replace: "R$" : "R$ "
      }}</span>
    </div>
  </div>
}
