@import "../../../scss/index";

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 8px;
  font-size: 16px;
  outline: none;
  border: none;
  color: var(--back-button-text);
  font-weight: 500;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
  }

  &:hover {
    text-decoration: underline;
    color: var(--primary-dark-1);
  }
}
